.countdown_text span{
    font-size: 18px;
    font-weight: 600;
    color: #05541a;
    margin-bottom: 5px;
}
.countdown_text p{
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
    font-weight: 500;
}
.countdown {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
#countdown_message {
    font-size: 18px;
    color: #05541a;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
