@import url('../../../../../css2');

:root
{
    --primary-gradiant: linear-gradient( 0deg, rgb(84,76,249) 0%, rgb(144,49,141) 0%, rgb(204,22,32) 0%, rgb(207,20,31) 100%);
    --primary-color: rgb(185, 10, 19);
    --secondary-color: rgb(22,35,43);
    --text-color: rgb(39,39,39);
    --field-color: rgb(255,255,255);
}



body
{
    font-family: "Jost";
    background-image: url(../images/bg.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
}


.steps
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header
{
    background-color: var(--secondary-color);
    border-radius: 4px;
    height: 170px;
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    color: rgb(255,255,255);
    font-weight: 600;
    text-align: center;
    display: grid;
    align-content: center;
    padding: 20px 160px;
    position: relative;
    top: 80px;
    overflow: hidden;
}
header::before
{
    content: "";
    background: var(--primary-gradiant);
    width: 80px;
    height: 80px;
    border-radius: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(0 0, 50% 50%, 100% 100%, 0% 100%);
}
header::after
{
    content: "";
    background: var(--primary-gradiant);
    width: 150px;
    height: 100%;
    border-radius: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0% 100%);
}
.h-border
{
    position: absolute;
    background: rgb(212,11,33);
    clip-path: polygon(0 15%, 10% 15%, 10% 90%, 100% 90%, 100% 100%, 0 100%, 0 50%);
    width: 150px;
    height: 100%;
    top: -10px;
    right: -40px;
    transform: rotate(45deg);
    z-index: 10;
    border: solid 2px red;
}
.flex-1
{
    flex: 1;
}

.quiz-inner
{
    flex: 1;
    border-radius: 20px;
    width: 100%;
    border: 4px solid var(--primary-color);
    padding: 90px 90px 0 90px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.side
{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.side img:nth-child(1)
{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.question
{
    position: absolute;
    top: 20px;
    right: 25px;
    width: 100px;
    transform: rotate(25deg);
    opacity: 0.5;
}
.form-inner
{
    margin-top: 40px;
}
.radio-field
{
    position: relative;
    height: 150px;
    width: 85%;
    margin-left: auto;
    margin-bottom: 40px;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
/* .radio-field input
{
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: solid 4px rgb(225,225,225);
    border-radius: 4px;
    background-color: var(--field-color);
    cursor: pointer;
    transition: 0.4s all;

} */
.radio-field input:focus
{
    outline: none;
}
.radio-field label, .radio-field img
{
    position: relative;
    z-index: 10;
}
.radio-field img
{
    width: 42px;
    margin: 0 auto;
}
.radio-field label
{
    font-size: 25px;
    color: var(--text-color);
    font-weight: bold;
    text-transform: capitalize;
}
.radio-field input::before
{
    position: absolute;
    border: solid 4px rgb(225,225,225);
    border-radius: 50%;
    background-color: var(--field-color);
    width: 57px;
    height: 57px;
    top: 42px;
    left: -28px;
    font-size: 24px;
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    display: grid;
    align-items: center;
    transition: 0.4s all;

}





.next-prev
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 93%;
    margin-left: auto;
    margin-top: 20px;

}
.next-prev button
{
    border-radius: 5px;
    width: 45%;
    height: 73px;
    background: var(--primary-gradiant);
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border: 0;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.next-prev button i
{
    margin: 0 8px;
}

footer
{
    width: 50%;
    margin: 30px auto 20px auto;
    height: auto;
}
.step-bar
{
    border: solid 1px rgb(29,29,29);
    width: 100%;
    height: 30px;
    border-radius: 50px;
    overflow: hidden;

}

.step-bar .fill
{
    width: 0;
    border-radius: inherit;
    height: 100%;
    background-color: var(--primary-color);
    transition: 0.4s all;
}
.step-number
{
    text-align: center;
    margin-top: 8px;
    font-size: 16.5px;
    color: rgb(0, 10, 56);
    font-weight: bold;
}


#error div
{
    position: fixed;
    top: 20px;
    left: 20px;
}
